# Editor/OS
*.DS_Store
.Rhistory
.RData
.Rproj.user/
.vscode/

# RStudio project files
*.Rproj

# Large data: keep out of Git. Provide a small README instead.
data/*
!data/README.md
!data/.gitkeep
cox_epistasis/

# Config files not needed in repo
.lintr

# Generated artifacts
paper_graphics/*.pdf
paper_graphics/*.png
paper_graphics/*.svg
paper_tables/*.tmp